header{
    display: flex;
    /* background-color: red; */
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
}




nav{
   
    /* min-height: 100px; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: rgb(145, 145, 224); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    

   
}

nav>ul{
    display: flex;
    justify-content: space-around;
}

nav>ul>li{
    list-style: none;
    /* border: 1px solid white; */
    font-size: 14px;
    color: white;
    cursor: pointer;
}




.call{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13px;
    color: white;
    /* justify-content: space-around; */

}

.logo{
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo>img{
    width: 90%;
    height: 100%;

}


.btnn1{
    width: 110px;
    height: 32px;
    border-radius: 20px;
    background-color: rgb(5,178,82);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.logo-ham{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    /* left: 0; */
    /* background-color: green; */
    width: 100%;
}

.logo-ham>i{
    font-size: 30px;
    font-weight: bold;
    color: red;
    padding-right: 20px;
    cursor: pointer;
}
.logo-ham>img{
    height: 85%;
    /* width: 25%; */

}



.sub1{
    height: 450px;
    background-color:white;
    position: absolute;
    top: 85px;
    left: 0;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    flex-wrap: wrap;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 500;



}



.p1{
    width: 100%;
    height: 30%;
    display: flex;
    margin-top: 10px;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
    color: rgb(125, 124, 124);
    font-size: 13px;
  
    

}

.p1:hover>span{
    color: #2b41a1;
}

.p1>img{
    width: 100px;
    height: 70px;
}

.p1>span{
    font-size: 10px;
    padding-right: 5px;
    padding-top: 20px;
    position: relative;
    color: #36416396;
    transition: 0.4s;
}



.p1>span::after{
    content: '';
    width: 230px;
    height: 1px;
    background-color: rgb(189, 187, 187);
    position: absolute;
    right: 0;
    top: 5px;
    
}


.full{
    height: 40px;
    background-color: rgba(240, 233, 233, 0.853);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 10px;
    color: #2b41a1;

}



.sub11:hover>.sub1{
    opacity: 1;
    visibility: visible;
}


/* end sub1///////////////////////////////////////////////////////////////////////////////////////////////// */



.sub2{
    height: 300px;
    background-color:white;
    position: absolute;
    top: 85px;
    left: 0;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    flex-wrap: wrap;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 500;


}


.sub22:hover>.sub2{
    opacity: 1;
    visibility: visible;
}


.sub3{
    height: 170px;
    background-color:white;
    position: absolute;
    top: 85px;
    left: 0;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    flex-wrap: wrap;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 500;



}


.sub33:hover>.sub3{
    opacity: 1;
    visibility: visible;
}



.sub4{
    height: 330px;
    background-color:white;
    position: absolute;
    top: 85px;
    left: 0;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    flex-wrap: wrap;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 500;



}


.sub44:hover>.sub4{
    opacity: 1;
    visibility: visible;
}


/* end sub menu /////////////////////////////////////////////////////////////////////////////////////////////////////////// */


.all>li{
    transition: 0.4s;
    padding-right: 5px;
}

.all>li:hover{
    color: rgb(244, 244, 59);
}


.all>li>a{
    text-decoration: none;
    color: white;
    transition: 0.4s;
}
.all>li>a:hover{
    color: rgb(244, 244, 59);
}



/* ///////////////////////////////////////////////////////////////////////////////////// */



.move-menu{
    position: fixed;
    background-color: white;
    width: 300px;
    height:100%;
    z-index: 1;
    top: 0;
    right: -1000px;
    transition: 0.5s;
    overflow-y: scroll;
   
}

.close{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.close>i{
    font-size: 30px;
    color: rgb(2,2,76);
    padding-left: 15px;
    padding-top: 10px;
    cursor: pointer;
}

.move-menu>h5{
    font-size: 16px;
    font-weight: bold;
    color: #02024c ;
    cursor: pointer;
}



.menu-ham-sub{
    /* background-color: yellow; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.menu-ham-sub>h6>Link{
    font-size: 16px;
    font-weight: bold;
     color: #02024c ;
     cursor: pointer;
    
}

.hcolor{

    color: #02024c ;
    text-decoration: none;


}

.hcolor:hover{
    color: #02024c;
}

.icon-box{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid gray;
    cursor: pointer;
}


.menu-ham-sub>.icon-box>i{

    font-size: 15px;
    font-weight: bold;
    color: gray;
    cursor: pointer;
    padding-top: 5px;
}


.sub-ul{
    width: 100%;
    background-color: #f5f5f5;
    margin-top: 10px;
    height: 0;
    transition: 0.5s;
    overflow: hidden;
    opacity: 0;
}

.auto{
    height: auto;
    opacity: 1;
}


.sub-ul>li{
    list-style: none;
    font-weight: bold;
    padding-top: 18px ;
    color: #02024c ;
    padding-right: 10px;
    position: relative;
    cursor: pointer;
}

.sub-ul>li::after{
    content: '';
    width: 0px;
    height: 2px;
    bottom: -15%;
    left: 50%;
    position: absolute;
    background-color: white;
    transition: 0.4s;

}


.sub-ul:hover>li::after{
    width: 50px;
    transform: translateX(-20px);
    /* opacity: 1; */
}



.chat{
    position: fixed;
    bottom: 2%;
    right: 1%;
    width: 50px;
    height: 50px;
    background-color: red;
    z-index: 100;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px rgb(66, 65, 65);
}
.chat>i{
    font-size: 28px;
    color: white;
}


.chat-box{
    position: fixed;
    right: 3%;
    top: 10%;
    width: 300px;
    height: 500px;
    background-color: whitesmoke;
    border-radius: 10px;
    z-index: 101;
    display: none;
    /* flex-wrap: wrap; */
    flex-direction: column;
    box-shadow: 5px 5px 10px rgba(83, 77, 77, 0.762);
    transition: 0.4s;
    transform: translateY(500px);
    
}


.chat-top {
    height: 80px;
    background-color: #FF0000;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.chat-close{
    height: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.chat-close>span>i{
    font-size: 30px;
    padding-top: 5px;
}

.chat-close>span{
    width: 30px;
    height: 30px;
    background-color: rgba(176, 176, 176, 0.555);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: whitesmoke;
    cursor: pointer;
}



.chat-info{
    height: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
}

.chat-pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-pic>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.chat-title{
    /* border: 1px solid white; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;
}

.chat-title>h5{
    font-size: 13px;
    font-weight: bold;
    color: white;
}
.chat-title>h6{
    font-size: 11px;
    color: whitesmoke;
}


.chat-body{
    display: flex;
    justify-content: center;
}


.chat-mini{
    margin-top: 40px;
    background-color: white;
    height: 150px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.chat-mini>h6{
    font-size: 11px;
    margin-top: 15px;
    padding-right: 10px;
    color: rgb(116, 109, 109);
}



.chat-mini>input{
    margin-top: 20px;
    margin-right: 10px;
    width: 200px;
    border: none;
    font-size: 12px;
    padding: 10px;
    /* border-radius: 20px; */
    border-bottom: 2px solid red;
}


.chat-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


.chat-btn>button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#FF0000;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 13px;
}