.ssl-back{
    min-height: 350px;
    background: url('../img/8.svg');
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ssl-big{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(240,242,255);
}

.ssl-wrap{
    display: flex;
    min-height: 400px;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}


.ssl-left{
    min-height: 350px;
    /* border: 5px solid red; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */

}
.ssl-left>h3{
    font-size: 23px;

}
.ssl-left>p{

    font-size: 14px;
    text-align: justify;
  

}
.ssl-right{
    min-height: 350px;
    /* border: 5px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;

}


.ssl-right>img{
    width: 70%;
    height: 70%;
}




/* ////////////////////////////////////////////////////////////////////////////////////////////////////// */



.ssl-main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240,242,255);

}


.main-wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 400px;
    /* background-color: yellow */
    
}


.ssl-box{
    min-height: 170px;
    box-shadow: 5px 10px 12px rgb(10 15 89 / 33%);
    border: 1px solid rgba(10, 15, 89, .08);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 20px;
    transition: 0.4s;
}


.ssl-box:hover{
    background-color: whitesmoke;
}


.ssl-box>img{
    width: 70px;
    height: 70px;
    margin-top: 20px;
}
.ssl-box>h5{
    font-size: 14px;
    font-weight: bold;
    padding-top: 30px;
}
.ssl-box>h6{
    font-size: 13px;
    color: #505665;
    text-align: center;
    padding-bottom: 10px;
}



/* ////////////////////////////////////////////////////////////////////////////////////////////////////// */




.ssl-title{
    display: flex;align-items: center;
    justify-content: center;
    min-height: 100px;
}


.ssl-list{
    font-size: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}


.size{
    /* background-color: green; */
    /* width: 70%  !important;  */
    height: 40vh  !important; 
}



.ssl-last{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240,242,255);

}


.ssl-last-wrap{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
    min-height: 400px;
    flex-wrap: wrap;
}

.ssl-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.last-box>P{
    font-size: 14px;
    padding-top: 10px;
    padding-right: 20px;
    color: #505665;
}
.last-box>li{
    font-size: 14px;
    font-weight: bold;

}